@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


body {
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
}

.container{
    display: flex;
    width: 440px;
    border-radius: 20px;
    box-shadow: 1px 0px 20px 2px hsl(221, 100%, 96%);
    height: 270px;
}

.left{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    border-radius: 20px;
    text-align:center;
}

.right{
    width:50%;
}

.left h4 {
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-size: 13px;
    margin:20px 0 20px;
}

.score-left {
    padding:50px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 0px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin:0 auto;
}

.big-score{
    color: white;
    font-size: 35px;
    font-weight: 800;
}

.small-score{
    color: hsl(241, 100%, 89%);
    font-size: 8px;
}

.left h3{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0 5px;
    font-size: 16px;
}

.left p{
    color: hsl(241, 100%, 89%);
    font-size: 10px;
    display: flex;
    margin: 0 35px;
    text-align: center;
}

.right h4{
    color: hsl(224, 30%, 27%);
    font-size: 16px;
    margin:10px;
}

.score-con{
    display:flex;   
}

.score-reaction{
    display:flex;
    padding: 5px;
    background-color: hsl(0, 100%, 67%, 10%);
    border-radius: 5px;
    font-size: 12px;
    color: hsl(0, 100%, 67%);
    margin: 10px;
    justify-content: space-between;
}

.grey {
    color: grey;
    font-size: 11px;
}

.score-reaction img{
    margin-right: 10px;    
}

.score-memory{
    display: flex;
    padding: 5px;
    background-color: hsl(39, 100%, 56%, 10%);
    border-radius: 5px;
    font-size: 12px;
    color: hsl(39, 100%, 56%);
    margin: 10px;
    justify-content: space-between;
}

.score-memory img{
    margin-right: 10px;    
}

.score-verbal{
    display: flex;
    padding: 5px;
    background-color: hsl(166, 100%, 37%, 10%);
    border-radius: 5px;
    font-size: 12px;
    color: hsl(166, 100%, 37%);
    margin: 10px;
    justify-content: space-between;
}

.score-verbal img{
    margin-right: 10px;    
}

.score-visual{
    display: flex;
    padding: 5px;
    background-color: hsl(234, 85%, 45%, 10%);
    border-radius: 5px;
    font-size: 12px;
    color: hsl(234, 85%, 45%);
    margin: 10px;
    justify-content: space-between;
}

.score-visual img{
    margin-right: 10px;    
}

.black-text{
    color: hsl(224, 30%, 27%);
    font-size: 12px;
    font-weight: 800
}

.right button{
    color: white;
    background-color: hsl(224, 30%, 27%);
    padding: 10px 60px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    border:none;
}

.right button:hover{
    background-color: hsla(256, 72%, 46%, 1);
}

@media (max-width: 760px){
    .left{
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .container{
        width: 50%;
        flex-direction: column;
        border-radius:hidden;
        height: 100%;
        overflow: hidden;
        padding:0;
    }
    
    .right{
        width: 100%;
    }
    
    .left p{
        margin-bottom: 15px
    }
    
    .right button{
        padding:10px 75px;
    }
    
    
}